<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{{ page.title }}{% endblock %} - {{ site.title }} - {{ site.subtitle }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ site.url }}/components/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="{{ site.url }}/components/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ site.url }}/components/highlightjs/styles/github.css" />
    <style type="text/css">
        body { margin: 50px 0}
        h1, h2, h3 { padding-top: 80px; margin-top: -45px; }
        .sidebar { margin-top: 20px; width: 258px; position: fixed }
        .sidebar li ul { display: none }
        .no-js .sidebar li ul, .sidebar li.active > ul { display: block }
        .sidebar li li a { padding: 3px 30px; font-size: 13px }
        .sidebar li li li a { padding: 3px 45px; font-size: 11px }
        .active > a { font-weight: bold }
    </style>
</head>
<body class="no-js">
    <header class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="{{ site.url }}/" class="navbar-brand">{{ site.title }}</a>
            </div>
            <nav>
                <ul class="nav navbar-nav">
                    <li><a href="{{ site.url }}/getting-started">Getting started</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="https://github.com/alphacomm/alpharpc">GitHub</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="container"><div class="row">
        <div class="col-md-3">
            <div class="sidebar" role="complementary">
                {{ block('content')|index }}
            </div>
        </div>
        <div class="col-md-9">
            {% block content %}{% endblock %}
        </div>
    </div></div>
    <script src="{{ site.url }}/components/jquery/jquery.min.js"></script>
    <script src="{{ site.url }}/components/highlightjs/highlight.pack.js"></script>
    <script src="{{ site.url }}/components/bootstrap/js/bootstrap.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script>
    var navHeight = $('.navbar').outerHeight(true)+10;
    $('body').scrollspy({ target: '.sidebar', offset: navHeight}).removeClass('no-js');
    $('.sidebar').affix();
    </script>
</body>
</html>
